llvm/llvm
llvm/llvm-build
llvm/llvm-installed
llvm/llvm-build-debug
llvm/llvm-installed-debug
llvm/cmake

win_flex_bison

mesa
mesa-build
mesa-installed
mesa-build-debug-vs
mesa-installed-debug-vs

vulkan-video-encode-simple
vulkan-video-encode-simple-build

VK-GL-CTS
VK-GL-CTS-build
VK-GL-CTS-build-vs-debug
